/* courses section */
.text-orange {
    color: orange !important;
  }

.hover-card {
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  .hover-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }