/* header section */
.hero-section {
    height: 100vh;
    background:  no-repeat center center/cover;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px black;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    animation: fadeIn 2s ease-in-out;
    text-shadow: 3px 3px black;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 768px) {
    .hero-title {
      font-size: 2rem;
    }
    .hero-subtitle {
      font-size: 1.2rem;
    }
  }