/* courses section */
.text-orange {
    color: orange !important;
  }

.hover-card {
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  .hover-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }





/*  for mobile view */
@media (max-width: 576px) {
  .courses-section .card {
    width: 100%;
    max-width: none; 
    margin-bottom: 20px; 
  }

  
  .courses-section .row {
    justify-content: center;
  }

  
  .courses-section .btn {
    font-size: 14px;
  }
}

/*  tablet view and above (like 768px and above) */
@media (max-width: 768px) {
  .courses-section .card {
    max-width: 100%;
  }

  .courses-section .row {
    justify-content: center;
  }
}
