/* Main app */
/* Header stylings */
.Header {
    width: 100vw !important;
    position: fixed;
    top: 0;
    left: 0;    /* Ensures no left gap */
    right: 0;   /* Ensures no right gap */
    z-index: 1000;
    background-color: #fff;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    box-sizing: border-box;
}

/* Content stylings */
.Content {
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 64px;
    min-height: calc(100vh - 64px);
}

/* Sider styling */
.sider {
    width: 80px;
    position: fixed;
    left: 0;
    top: 64px;
    bottom: 0;
    background-color: #e1dbdb;
    overflow-y: auto;
   
    transition: width 0.3s ease-in-out;
    height: (100vh - 54px);
}

/* Expanded Sidebar */
.sider:hover {
    width: 250px;
    overflow-y: auto;
}


.ant-menu {
    /* height: 100%; */
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

/* Custom Scrollbar */
.sider::-webkit-scrollbar {
    width: 0;
}

.sider::-webkit-scrollbar-thumb {
    background: #888;
    /* border-radius: 3px; */
}

.sider::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* sider menu-bar stylings */
.menu-bar {
    background-color: #dbdde1;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* font-weight: 500; */
}

.ant-menu-item-selected {
    background-color: #1e2735 !important;
    color: #fff !important;
}

/* Header Section */
.admin-header {
    background-color: #fff;
    color: white;
    padding: 10px 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    /* Fixed height to align properly */
    /* margin: 10px; */
}

/* Logo Styling */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
}

/* Title Styling */
.Typography-Title {
    color: black !important;
    font-size: 20px;
    margin: 0;
}

/* Search Bar */
.header-search {
    width: 250px;
}

/* Avatar Styling */
.header-avatar {
    cursor: pointer;
    background-color: #1890ff;
}

/* Dashboard styling for card */
.Patient-count {
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
}
/* AddPatient file styling  */
.upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

@media (max-width: 768px) {
    .Header {
        flex-direction: column;
        /* padding: 10px; */
        /* height: auto; */
        text-align: center;
    }

    .sider {
        width: 70px;
        /* Smaller width */
    }

    .Content {
        margin-left: 70px;
        /* Adjust for small sidebar */
    }

    .header-search {
        width: 100%;
    }

    .Typography-Title {
        font-size: 1%;
    }
}